app:
  market_type: SPOT  # SPOT / FUTURES

  spot:
    trade_amount:
      USDT: 100
      BTC: 0.002

  futures:
    trade_amount:
      USDT: 100
    leverage: 1
    margin_type: ISOLATED  # ISOLATED / CROSS

binance_api:
  key: BINANCE_API_KEY
  secret: BINANCE_API_SECRET

email:
  recipient: YOUR_EMAIL
  host: EMAIL_HOST
  user: EMAIL_USER
  password: EMAIL_PASSWORD

rabbit:
  url: amqp://guest:guest@localhost:5672/%2F
  exchange: trader20
