app:
  market_type: SPOT  # SPOT / FUTURES

  spot:
    trade_amount:
      USDT: 100
      BTC: 0.002

  futures:
    trade_amount:
      USDT: 100
      BTC: 0.002
    leverage: SMART  # 1-125 / SMART
    margin_type: ISOLATED  # ISOLATED / CROSS

binance_api:
  key: BINANCE_API_KEY
  secret: BINANCE_API_SECRET

discord:
  channel: 759070661888704613
  token: DISCORD_TOKEN

email:
  recipient: YOUR_EMAIL
  host: EMAIL_HOST
  user: EMAIL_USER
  password: EMAIL_PASSWORD
